# Archivos de entorno
.env
frontend/.env*
backend/.env

# Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Backend
*.py[cod]
__pycache__/
**/__pycache__/
env/
venv/
.venv/
backend/db.sqlite3
backend/media/
backend/staticfiles/

# Ignorar archivos temporales de IDEs
.idea/
.vscode/
*.log
*.swp

# Ignorar archivos de sistema
.DS_Store
Thumbs.db


