# Environment: development or production
DJANGO_ENV=development

# Django secret key (generate con: "openssl rand -base64 50")
SECRET_KEY=

ALLOWED_HOSTS='localhost'

# PostgreSQL config
DATABASE_URL=postgres://<usuario>:<contraseña>@<host>:<puerto>/<basededatos>